<section class="orders-show">

  <header class="page-header">
    <h1>Order #<%= @order.id %></h1>
  </header>

  <div class="order-summary jumbotron">
    <h4>Thank you for your order!</h4>

    <table class="table table-bordered"> 
    <%= render @order.line_items %>
    </table>

    <p>Total: <%= humanized_money_with_symbol (@order.total_cents.to_f / 100) %></p>

    <p>Email used: <%= @order.email %></p>

  </div>

  <%= link_to "Continue Shopping", root_path, class: 'btn btn-lg btn-primary' %>

</section>