<section class="orders-show">

  <header class="page-header">
    <h1>Order #<%= @order.id %></h1>
  </header>

  <div class="order-summary jumbotron">
    <h4>Thank you for your order!</h4>

    <% @order %>

    <% @order.line_items.each do |item| %>

      <%= render 'item', product_image: item.product.image, product_name: item.product.name, product_description: item.product.description, product_price: (item.item_price_cents.to_f / 100), quantity: item.product.quantity, total_price: (item.total_price_cents.to_f / 100) %>

    <% end %>

    <%= @order.email %>

    <%= humanized_money_with_symbol (@order.total_cents.to_f / 100) %>


  </div>

  <%= link_to "Continue Shopping", root_path, class: 'btn btn-lg btn-primary' %>

</section>