<p id="notice"><%= notice %></p>

<h1>Listing Myblogs</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @myblogs.each do |myblog| %>
      <tr>
        <td><%= link_to 'Show', myblog %></td>
        <td><%= link_to 'Edit', edit_myblog_path(myblog) %></td>
        <td><%= link_to 'Destroy', myblog, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Myblog', new_myblog_path %>
